/*--------------------------------------------------------------
# Buttons & Links
--------------------------------------------------------------*/
.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    border-radius: var(--radius-md);
    font-weight: 500;
    cursor: pointer;
    transition: all var(--transition-normal);
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    background-image: var(--glass-gradient);
    color: var(--white);
    box-shadow: var(--shadow-sm);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    color: var(--white);
    transform: translateY(-2px);
    box-shadow: var(--glass-shadow);
    border: 1px solid var(--glass-border);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.btn-outline:hover {
    background-color: rgba(0, 102, 204, 0.2);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: var(--glass-shadow);
}

.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}